$themeColor: #4a148c;
$themeColorLight: #7c43bd;
$themeColorDark: #12005e;
@mixin transition($transition){
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

.btn{
	background-color: $themeColor;
	&.common{
		width: 180px;
		margin-bottom: 15px;
	}
}
.hide{
	display: none;
}

.mb0{
	margin-bottom: 0!important;
}
.bb0{
	border-bottom: 0;
}
input + label {
    pointer-events: none;
    * {
        pointer-events: all;
    }
}


/** this styles must be in common***/
h3{
	color: $themeColorDark;
	font-size: 2rem;
	padding: 10px 0;
    border-bottom: 1px solid #d0d0d0;
}
/***********************************/
.categoryList{
	li{
		text-transform: capitalize;
		font-weight: 700;
		font-size: 16px;
		color: $themeColor;
		cursor: pointer;
		border-bottom: 1px solid $themeColorLight;
		padding: 10px 0;
		&:first-child{
			border-top: 1px solid $themeColorLight;
		}
		&.active{
			background: #7c43bd;
			color: #fff;
		}
	}
}
.productList{
	max-height: 400px;
    overflow-y: scroll;
	li{
		position: relative;
		z-index: 0;
		.title{
			max-width: 200px;
		    text-transform: capitalize;
			color: $themeColor;
		}
		.fullDesc,
		.desc{
			word-wrap: break-word;
			width: calc(100% - 60px);
		}
		button.add{
			position: absolute;
		    right: 20px;
		    padding: 0 12px;
		    bottom: 10px;
		    font-size: 12px;
			height: 25px;
			line-height: 10px;
			z-index: 2;
		}
		i{
			color: $themeColor;
		}
		.secondary-content{
			top: 10px;
			input{
				width: 46px;
			    font-size: 12px;
			    height: 20px;
			    margin-right: 7px;
			}
		}
		.price{
			color: $themeColorDark;
		}
	}
}
.orderListBlock{
	position:relative;
	overflow: hidden;
	.message{
    	button{
    		font-size: 16px;
    		margin: 9px;
    		margin: 0 auto;
    		position: absolute;
			top: -50px;
			left: 0;
			right: 0;
    		width: 166px;
			background: $themeColor;
			color: #fff;
			@include transition(top 400ms ease);
			&.active{
	    		top: 10px;
	    	}
    	}
	}
	.orderList{
		border: 1px solid $themeColorLight;
	    table{
	    	width:100%;
	    	tbody {
				display:block;
				max-height:350px;
				overflow:auto;
				padding: 0 5px;
				tr{
					cursor: pointer;
					.removeFromOrder{
						position: relative;
						overflow: hidden;
						span{
							position: absolute;
							background-color: $themeColor;
							border-radius: 100%;
							padding: 0px 4px;
							right: -30px;
							cursor: pointer;
							@include transition(right 400ms ease);
							i{
								font-size:18px;
	   							line-height: 1.5;
	   							color: #fff;
							}
						}
					}
					td{
						max-width: 200px;
    					word-wrap: break-word;
    					font-size: 12px;
    					
					}
					&:hover .removeFromOrder span{
						right: 12px;
					}
				}
			}
			thead, tbody tr {
				display:table;
				width:100%;
				table-layout:fixed;
			}
			thead {
				color: $themeColorDark;
			}
			td:nth-child(0n+2),th:nth-child(0n+2){
				width: 38px;
			}
	    }
	}
}
@media screen and (max-width: 850px) {
	.container{
		width: 100%;;
		margin: 0;
	}
}
@media screen and (max-width: 600px) {
	.productList{
		i{
			color: $themeColor;
		}
	}
	.container{
		width: 100%;;
		margin: 0;
	}
	.slideRightOnSP,
	.slideLeftOnSP{
	    position: fixed;
	    overflow-y: scroll;
	    top: 0;
	    z-index: 100;
	    background: #fff;
	    width: 100%;
	    max-width: 280px;
	    height: 100vh;
	}
	.slideRightOnSP{
		right: -320px!important;
		@include transition(right 400ms ease);
	    &.active{
	    	right: 0px!important;
	    }
	}
	.slideLeftOnSP{
		left: -320px!important;
		@include transition(left 400ms ease);
	    &.active{
	    	left: 0px!important;
	    }
	}
}