<!DOCTYPE html>
<html>

<head>
	<title>NEW ORDER</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/plugins/materialize/css/materialize.css">
	<link href="/plugins/materialize/" rel="stylesheet">
	<link rel="stylesheet" href="/plugins/materialize/css/materialFont.css">
	<link rel="stylesheet" href="/waiter/css/style.css">
	<script src="/plugins/angular/angular.min.js"></script>
</head>

<body ng-app="waiter">
	<main ng-controller="operations">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h1>NEW ORDER</h1>
					<div class="searchFields">
						<button>categories</button>
						<button>ordered items</button>
					</div>			
				</div>
				<div class="col s12">
					<div class="row">
						<div class="col m3 s12">
							<h3>Category list</h3>
							<ul ng-init="selectedCategory=''">
								<li ng-repeat="x in categories" ng-click="categoryClicked(x.id)">{{x.name}}</li>
								<li ng-click="categoryClicked('')">All</li>
							</ul>
						</div>
						<div class="col m9 s12">
							<h3>Product list</h3>
							<div class="headerSearch">
								<input placeholder="Search" id="{{category.categoryName}}" type="text" class="validate" ng-model="productFilter" ng-focus="focus=true" ng-blur="focus=false">
							</div>
							<ul class="collection productList">
								<li class="collection-item avatar" 
								ng-repeat="x in products | filter:productFilter | filter:{category_fk:selectedCategory}" 
								ng-init="expand=0" 
								ng-click="expand = !expand">
									<img src="{{x.picture}}" alt="" class="circle">
									<span class="title">{{x.name}}</span>
									<p class="desc" ng-show="!expand">{{x.description | limitTo: 20 }}{{x.description.length > 20 ? '...' : ''}}</p>
									<p class="fullDesc" ng-show="expand">{{x.description}}</p>
									<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
									<button class="waves-effect waves-light btn add">ADD</button>
								</li>
						  </ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script src="/waiter/js/angular/modules.js"></script>
	<script src="/waiter/js/angular/service.js"></script>
	<script src="/waiter/js/angular/controllers.js"></script>

</body>

</html>