<!DOCTYPE html>
<html>

<head>
	<title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/plugins/materialize/css/materialize.css">
	<link rel="stylesheet" href="/plugins/materialize/css/materialFont.css">
	<link rel="stylesheet" href="/common/css/common.css">
	<link rel="stylesheet" href="/operations/css/style.css">
	<script src="/plugins/angular/angular.min.js"></script>
</head>

<body ng-app="operations">
	<main ng-controller="operations">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h1><img src="/common/images/logo.jpg" alt=""></h1>
				</div>
				<div class="col s12">
					<a href="/operations/newOrder.html" class="common btn waves-effect waves-light login-button">NEW ORDER<i class="material-icons right">add</i>
					</a>
					<div class="wrapNotification">
						<a href="/operations/viewOrders.html" class="common btn waves-effect waves-light login-button">ORDERS<i class="material-icons right">event_note</i>
						</a>
						<span class="notificationNum" ng-if="itemsReady">{{itemsReady}}</span>
					</div>
					<a href="/operations/productManagement.html" class="common btn waves-effect waves-light login-button" ng-if="job==3">PRODUCT MANAGEMENT<i class="material-icons right">assignment</i>
					</a>
					<a href="/operations/cashier.html" class="common btn waves-effect waves-light login-button" ng-if="job==3">Cashier<i class="material-icons right">attach_money</i>
					</a>
					<button class="common btn waves-effect waves-light login-button" ng-click="logout()">Logout<i class="material-icons right">exit_to_app</i>
					</button>
				</div>
			</div>
		</div>
	</main>
	<script src="/operations/js/angular/modules.js"></script>
	<script src="/operations/js/angular/service.js"></script>

	<script src="/operations/js/angular/directives.js"></script>
	<script src="/operations/js/angular/controllers.js"></script>

</body>

</html>