<!DOCTYPE html>
<html>

<head>
	<title>Orders</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/plugins/materialize/css/materialize.css">
	<link href="/plugins/materialize/" rel="stylesheet">
	<link rel="stylesheet" href="/plugins/materialize/css/materialFont.css">
	<link rel="stylesheet" href="/common/css/style.css">
	<link rel="stylesheet" href="/common/css/common.css">
	<link rel="stylesheet" href="/common/css/order_list.css">
	<!-- <link rel="stylesheet" href="/operations/css/view_orders.css"> -->
	<script src="/plugins/angular/angular.min.js"></script>
</head>

<body ng-app="operations">
	<main ng-controller="viewOrders">
		<div class="container">
			<div class="row">
				<div class="col s12">


					<div id="edit-order-seat-id" class="modal">
						<form ng-submit="editSeatID()">
							<div class="modal-content">
								<h3>SeatID</h3>
								<div class="input-field col s12">
									<input ng-model="seatID" name="SeatID" value="" type="text" class="validate" maxlength="50" required>
									<label for="SeatID">SeatID</label>
								</div>
							</div>
							<div class="modal-footer">
								<button class="waves-effect waves-light btn" ng-click="updateSeatID(seatID)" type="submit">Update</button>
							</div>
						</form>
					</div>



					<div class="spHeader">
						<h1>Customer Order List Orders</h1>	
						<input id="seat_number" ng-model="seatNumberSearch" type="text" class="validate" placeholder="Table #">
					</div>
					<div class="orderListContainer">
					<ul class="orderList">
						<li class="order" ng-repeat="order in orders | seatIDFilter: 'orderDetails.seat_number' : seatNumberSearch">
							<p>Customer name: <span class="b">{{order.orderDetails.customer_name}}</span><br>Order ID: <span class="b">{{order.orderDetails.id}}</span><br>Table #: <span class="b">{{order.orderDetails.seat_number}}</span></p>
							<div>
								<p>Order Details</p>
								<table>
									<tr>
										<th>Name</th>
										<th>Qty</th>
										<th>Served</th>
										<th>Void</th>
										<th>Serve</th>
									</tr>
									<tr ng-repeat="oLine in order.orderLine">
										<td>{{oLine.name}}</td>
										<td>{{oLine.quantity}}</td>
										<td>{{oLine.served_items}}</td>
										<td><button ng-if="(oLine.quantity-oLine.served_items)>0"  ng-click="removeFromOrderLine(oLine.order_line_id)">Remove</button></td>
										<td><button ng-if="(oLine.quantity-oLine.served_items)>0" ng-click="serveItem(oLine.order_line_id,oLine.quantity,oLine.served_items)">Serve</button></td>
									</tr>
								</table>
							</div>
							<div class="orderInfoBlock">
								<p class="orderNotes mt0"><span class="b">Notes: </span>{{order.orderDetails.notes}}</p>
								<p class="mt0"><span class="b">TotalPrice: </span>Php. {{getTotalPrice(order.orderLine)}}</p>
								<div class="row">
									<div class="input-field col s12">
										<button class="addProduct wave btn z-depth-1" ng-click="addProductsToOrder(order.orderDetails.id)">Add<br>Order</button>
										<button class="addProduct wave btn z-depth-1" ng-click="updateSeatIDModal(order.orderDetails)" ng-if="job!=3">Change Table #</button>
									</div>
								</div>
							</div>
						</li>					
					</ul>
					</div>
					<a href="/operations/" class="back btn-floating btn-medium waves-effect waves-light z-depth-2"><i class="material-icons">arrow_back</i></a>			
				</div>
			</div>
		</div>
	</main>
	<script src="/plugins/jquery/jquery-3.2.1.min.js"></script>
	<script src="/plugins/materialize/js/materialize.min.js"></script>
	<script src="/operations/js/angular/modules.js"></script>
	<script src="/operations/js/angular/service.js"></script>
	<script src="/operations/js/angular/ordersController.js"></script>
	
</body>

</html>