$themeColor: #4a148c;
$themeColorLight: #7c43bd;
$themeColorDark: #12005e;
$menuPadding:  15px 10px;
@mixin transition($transition){
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}
input + label {
    pointer-events: none;

    * {
        pointer-events: all;
    }
}
h1{
	img{
		width: 100%;
		max-width: 420px;
	}
}

.h4-design{
	color: #fff;
	margin: 0;
}
.banner-container{
	position: relative;
	.logout{
		display: inline-flex;
		position: absolute;
	    right: 0;
    	bottom: 0;
    	color: #c3c3c3;
    	cursor: pointer;
		p{
			margin: 2px;
		}
		&:hover{
    		color: #c3c3c3;
		}
	}
}

.table-data{
	tr:not(:first-child){
		&:hover{
			background-color: #ebebeb;
			cursor: pointer;
		}
	}
}

.data-header{
	background-color: $themeColorLight;
	padding: $menuPadding;
	overflow:hidden;
	color: #fff;	
	h4{
		@extend .h4-design;
	}
	.headerInput,
	.headerSearch{
		input{
			color: #fff;
			height: 30px;
			margin-bottom: 0;
		}
	}
}

.w50p{
	width: 50%;
}
h1{
	font-size: 1.5rem;
}
.b{
	font-weight: 700;
}
.mb0{
	margin-bottom: 0!important;
}
.mt0{
	margin-top: 0!important;
}

#sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
	display: none;
	opacity: 0;
	@include transition(opacity 400ms ease);
	&.active{
		opacity: 1;
		display: block;
	}
}

.back{
	position: fixed;
	bottom: 20px;
	right: 10px;
	background-color: $themeColor;
}

.showInPC{
	display: block;
}
.showInSP{
	display: none;
}

@media screen and (max-width: 600px) {
	.showInPC{
		display: none;
	}
	.showInSP{
		display: block;
	}
}