.orderList{
	.order{
		position: relative;
		border-top: 2px solid #3f3f3f;
		margin-bottom: 2em;
		&:nth-child(2n){
			background-color: #f8f8f8;
		}
		tr{
			padding: 2px 0;
			button{
				background-color: transparent;
				border: 1px solid #ccc;
				border-radius: 5px;
			}
		}
		td:first-child{
			width: 80px;
			padding-right: 10px;
		}
		.orderInfoBlock{
			padding: 13px 10px;
			overflow: hidden;
			.addProduct{
			    height: 66px;
			    line-height: 1;
			    font-size: 10px;
			    width: 66px;
			    padding: 0;
			    border-radius: 40px;
			}
		}
		.imgContainer{
			width: 50px;
			height: 50px;
			position: relative;
			img{
				max-height: 100%;  
			    max-width: 100%; 
			    width: auto;
			    height: auto;
			    position: absolute;  
			    top: 0;  
			    bottom: 0;  
			    left: 0;  
			    right: 0;  
			    margin: auto;
			}
		}
	}
}
.paidProduct{
	margin: 0 1em 1em 0;
}
.showOnPrint{
	display: none;
}
@media screen and (max-width: 600px) {
	.orderList{
		.order{
			td{
				padding: 10px 0;
			}
		}
	}
}
@media screen and (min-width: 900px) {
	.orderList{
		.order{
			td{
				padding: 0;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.container{
		width: 100%;
	}
	
}


@media print {
    .hideOnPrint{
		display: none;
	}
	.showOnPrint{
		display: block;
	}
    @page {
        size: auto; /* auto is the initial value */
        margin: 0; /* this affects the margin in the printer settings */
    }
    .receiptFooter{
    	border-top: 1px dotted #000;
    	border-bottom: 1px dotted #000;
    	padding: 10px 0;
    	margin-top: 15px;
    	p{
    		text-align: center;
    	}
    }
    .tac{
    	text-align: center;
    }
}
